<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="top">
        <img src="logo.png" alt="">
        <div>
            <a onclick="myMenu()" href="#"><img class="show" id="menu" src="ic_menu_48px.png" alt=""></a>
            <nav id="nav" class="nav_hidden">
                <a onclick="myNav()" href="#">X</a>
                <ul>
                    <li><a class="navi" href="/">Homepage</a></li>
                    <li><a class="navi" href="/blog">Our Blogpage</a></li>
                    <li><a class="navi" href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section id="title">

    </section>
    <section id="search">
        <img src="magnifier.png" alt="">
        <input placeholder="Search Article" type="text" name="" id="">
    </section>
    <section id="popular">
<img src="popular.png" alt="">
    </section>
    <section id="all">
<img src="all article.png" alt="">
    </section>
</body>
<footer>
    <img src="footer.png" alt="">
</footer>
<script src="main.js"></script>
</html>