<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="top">
        <img src="logo.png" alt="">
        <div>
            <a onclick="myMenu()" href="#"><img class="show" id="menu" src="ic_menu_48px.png" alt=""></a>
            <nav id="nav" class="nav_hidden">
                <a onclick="myNav()" href="#">X</a>
                <ul>
                    <li><a class="navi" href="/">Homepage</a></li>
                    <li><a class="navi" href="/blog">Our Blogpage</a></li>
                    <li><a class="navi" href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section id="title_contact">

    </section>
    <section id="contact">
        <article>
            <img src="contact_img.png" alt="">
            <img src="address.png" alt="">
            <img src="phone.png" alt="">
            <img src="online.png" alt="">
        </article>
        <img src="form.png" alt="">
    </section>
    <footer>
        <img src="footer.png" alt="">
    </footer>
</body>
<script src="main.js"></script>

</html>